<p>
<strong> Platform: </strong>
<%= @games.platform %>
</p>

<p>
<strong> Game Title: </strong>
<%= @games.game_title %>
</p>

<p>
<strong> Game Description: </strong>
<%= @games.description %>
</p>

<p>
<strong> Quantity: </strong>
<%= @games.quantity %>
</p>

<%= link_to 'Back to Table', games_path %>